# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
hs_err_pid*.log
replay_pid*.log

# other
eclipse
run
.vscode
.history

ForgeWurst-0.*-MC1.12.2.jar
